/* Navbar */
.navbar-nav li {
  font-size: 1.3rem;
  color: #C5C6C7;
}

.navbar-nav li:hover {
  background-color: #FFC107;
  color: black;
}
.navbar-nav a:hover {
  color: black;
}

/* Home Container */
.home {
  background-color: #0B0C10;
  color: #C5C6C7;
  width: 100%;
  height: calc(100vh - 79px);
}
img{
  height: calc(100vh - 79px);
  object-fit: contain;
  position: relative;
  z-index: 2;
}

/* Login Component */
main.form-signin {
  height: 100vh;
}

main > div.login {
  margin: auto;
  width: 50vw;
  align-content: center;
  justify-content: center;
}
